<%= render "shared/header" %>
<div class="main">
  <%= image_tag "IMG_2953.JPG" %>
</div>
<% if user_signed_in? %>
  <%= link_to(new_post_path, class: 'post-btn') do %>
    <span class='post-btn-text'>投稿する</span>
    <%= image_tag 'icon_129690_256.png' , size: '185x50' ,class: "post-btn-icon" %>
  <% end %>
<% end %>